<?xml version="1.0"?>

<root
  xmlns="urn:ChirpyConfig"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="urn:ChirpyConfig http://www.weirdlover.com/chirpy/chirp.xsd">

  <FileGroup Name="combined.js" Minify="True">
    
    <File Path="../Content/syntaxhighlighter/scripts/shCore.js" />
    <File Path="../Content/syntaxhighlighter/scripts/shBrushJScript.js" />
    <File Path="../Content/syntaxhighlighter/scripts/shBrushBash.js" />
    <File Path="../Content/syntaxhighlighter/scripts/shBrushCpp.js" />
    <File Path="../Content/syntaxhighlighter/scripts/shBrushCsharp.js" />
    <File Path="../Content/syntaxhighlighter/scripts/shBrushCss.js" />
    <File Path="../Content/syntaxhighlighter/scripts/shBrushDelphi.js" />
    <File Path="../Content/syntaxhighlighter/scripts/shBrushDiff.js" />
    <File Path="../Content/syntaxhighlighter/scripts/shBrushErlang.js" />
    <File Path="../Content/syntaxhighlighter/scripts/shBrushJava.js" />
    <File Path="../Content/syntaxhighlighter/scripts/shBrushPerl.js" />
    <File Path="../Content/syntaxhighlighter/scripts/shBrushPhp.js" />
    <File Path="../Content/syntaxhighlighter/scripts/shBrushPowerShell.js" />
    <File Path="../Content/syntaxhighlighter/scripts/shBrushPython.js" />
    <File Path="../Content/syntaxhighlighter/scripts/shBrushRuby.js" />
    <File Path="../Content/syntaxhighlighter/scripts/shBrushScala.js" />
    <File Path="../Content/syntaxhighlighter/scripts/shBrushSql.js" />
    <File Path="../Content/syntaxhighlighter/scripts/shBrushVb.js" />
    <File Path="../Content/syntaxhighlighter/scripts/shBrushXml.js" />
    <File Path="../Content/syntaxhighlighter/scripts/shBrushPlain.js" />
    <File Path="jquery-1.4.4.min.js" />
    <File Path="jquery.validate.min.js" />
    <File Path="jquery.validate.unobtrusive.min.js" />
    <File Path="../Content/uni/js/uni-form-validation.jquery.js" />
    <File Path="MicrosoftAjax.js" />
  </FileGroup>

</root>