<?xml version="1.0"?>

<root
  xmlns="urn:ChirpyConfig"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="urn:ChirpyConfig http://www.weirdlover.com/chirpy/chirp.xsd">

  <FileGroup Name="combined.css" Minify="True">
    <File Path="Site.css"/>
    <File Path="uni/css/uni-form.css"/>
    <File Path="uni/css/default.uni-form.css"/>
    <File Path="syntaxhighlighter/styles/shCoreDefault.css"/>
  </FileGroup>

</root>